body {
  padding: 10px;
  background: #111;
  color: #aaa;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1 {
  font-weight: normal;
  letter-spacing: -1px;
  color: #34495E;
}
