@background: #111;

html {
  background: @background;
}

body {
  padding: 10px;
  background: @background;
  color: #aaa;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1 {
  font-weight: normal;
  letter-spacing: -1px;
  color: #34495E;
}

.highlight {
  color: #dddda9;
}

a, a:visited, a:hover, a:active {
  color: #aae;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

hr {
  border-color: #444;
}

